
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/custom.min.css">
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    <!-- menu starts here -->
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand">gChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">


          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><span class="badge badge-pill badge-danger">1</span></li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Notification</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">You <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="#">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Friends</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log Out</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
<!-- menu ends here -->
<!-- banner starts here -->
    <div class="container">
      <div class="page-mid">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Sketchy</h1>
            <p class="lead">A hand-drawn look for mockups and mirth</p>
            <p class="lead">A hand-drawn look for mockups and mirth</p>
            <p class="lead">A hand-drawn look for mockups and mirth</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <a href="https://www.shopify.com/?ref=bootswatch">
                <img src="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- banner ends here -->
<!-- footer starts here -->
    <div class="container">
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-lg-right"><a href="#top">Back to top</a></li>
              <li>Blog</li>
              <li>RSS</li>
              <li>Twitter</li>
              <li>GitHub</li>
              <li>API</li>
              <li>Donate</li>
            </ul>
            <p>Made by <a href="http://thomaspark.co">Thomas Park</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

          </div>
        </div>
      </footer>
    </div>

<!-- Footer ends here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
