
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chattty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/custom.min.css">

  </head>
  <body>
    <!-- menu starts here -->
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand">Chattty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">


          <ul class="nav navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="email" placeholder="Email">
              <input class="form-control mr-sm-2" type="password" placeholder="Password">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log In</button>
            </form>
          </ul>

        </div>
      </div>
    </div>
<!-- menu ends here -->
<!-- banner starts here -->
<div class="container">
  <div class="page-mid">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1 class="text-warning">Connect with your friends on Chattty</h1>
        <h4>Share what is new</h4>
        <h4>Make friends</h4>
        <h4>See photos and videos</h4>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="sign-up">
          <h1 class="text-success">Sign Up</h1>
          <p class="lead">It's free</p>
        </div>
        <div>
          <form>
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" name="fname" placeholder="First Name">
              <br>
              <input type="text" class="form-control" name="lname" placeholder="Last Name">
              <br>
              <input type="email" class="form-control" name="email" placeholder="Email">
              <br>
              <input type="password" class="form-control" name="password" placeholder="Password">
              <br>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" value="male" checked=""> Male</label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="female"> Female</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner ends here -->
<!-- footer starts here -->
    <div class="container">
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li>Blog</li>
              <li>RSS</li>
              <li>Twitter</li>
              <li>GitHub</li>
              <li>API</li>
              <li>Donate</li>
            </ul>
            <p>Made by <a href="http://thomaspark.co">Thomas Park</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

          </div>
        </div>
      </footer>
    </div>

<!-- Footer ends here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
